//Dark
.black-bg {
  background-color: $black;
  color: $white;
}

.darkslate-bg {
  background-color: $darkslate;
  color: $ghostwhite;
}

.gainsboro-bg {
  background-color: $gainsboro;
  color: $darkslate;
}

.electromagnet-bg {
  background-color: $electromagnet;
  color: $white;
}
