.cover-details-card {
  background: none;
  margin: 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cover-image-link {
    height: 246px;
    width: 165px;
    border-radius: 8px;

    .cover-image {
      @extend .cover-image-link;
    }
  }
}

.card-body {
  width: 165px;
  padding: 8px 4px;

  h5.card-title {
    text-align: center;
    a {
      color: $snow;
    }
  }
  p.card-text {
    text-align: left;
    margin: auto;
    font-size: smaller;
  }
}
