//General
$white: #ffffff;
$black: #000000;

// Background colors: Light
$whitesmoke: #f5f5f5;
$gainsboro: #dcdcdc;
$ghostwhite: #f8f8ff;
$lightgrey: #d3d3d3;
$snow: #fffafa;
$silver: #c0c0c0;
$mintcream: #f5fffa;

// Background colors: Dark
$electromagnet: #2f3640;
$navdark: #2c3e50;
$darkslate: #2f4f4f;
$dim: #696969;
$grey: #808080;
$lightslate: #778899;
$teal: #008080;

// Blue
$deepcove: #130f40;
$deepkoamaru: #30336b;
$mazarinblue: #273c75;
$blueberrysoda: #7f8fa6;
